In [120]:
import os
from glob import glob
import pandas as pd
import numpy as np

In [121]:
def concat_on_id(path=''):
    dfs = []
    names = []
    for csv in glob("*.csv"):
        if csv != "sub.csv":
            name = csv.split(".")[0]
            print(name)
            df = pd.read_csv(csv,index_col=0)
            dfs.append(df)
            names.append(name)
    final_df = pd.concat(dfs,axis=1,names=names)
    del dfs
    return final_df

In [122]:
df = concat_on_id()

light
cat
xgb
neural

In [123]:
df = pd.DataFrame(df.target.mean(axis=1)).reset_index().rename({0:"target"},axis=1)
df.head()

       id    target
0  600000  0.201058
1  600001  0.295456
2  600002  0.220970
3  600003  0.180866
4  600004  0.184288

In [124]:
df.to_csv("sub.csv",index=False)